 strong {
     font-weight: 700;
 }
 #frame {
     max-width: 780px;
     width: auto;
     border: 1px solid #ccc;
     background: #fff;
     padding: 20px;
     margin: 0px auto 0px auto;
 }
 h2#question {
 	  text-align: center;
 }
 p.pager {
     margin: 5px 0 5px;
     font: bold 1em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
     color: #999;
 }
 img.question-image {
     display: block;
     max-width: 250px;
     margin: 10px auto;
     border: 1px solid #ccc;
     width: 100%;
     height: auto;
 }
 #submitbutton {
     background: #5a6b8c;
 }
 #submitbutton:hover {
     background: #7b8da6;
 }
 #explanation {
     margin: 0 auto;
     padding: 20px;
     width: 75%;
 }
 .choice-box {
     display: block;
     text-align: center;
     margin: 8px auto;
     padding: 10px 0;
     border: 1px solid #666;
     cursor: pointer;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
 }
 .button-xlarge {
     font-size: 125%;
 }
.pure-button {
     border-radius: 4px;
     text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
     white-space: normal;
}